<? xml version="1.0" encoding="UFT-8" ?>
<menu>
    <category name="Coffe">
        <item>
            <listing>Espresso</listing>
            <price>3.00</price>
        </item>
        <item>
            <listing>Latte</listing>
            <price>3.50</price>
        </item>
        <item decaf="true">
            <listing>Americano</listing>
            <price>3.20</price>
        </item>
    </category>
    <category name="Frappe">
        <item>
            <listing>Salted Caramel Frapped</listing>
            <price>4.50</price>
        </item>
        <item>
            <listing>Pumpkim Spiced Frapped</listing>
            <price>5.00</price>
        </item>
        <item decaf="true">
            <listing>Mint Chocollate Frapped</listing>
            <price>5.00</price>
        </item>
    </category>
    <category name="Iced Coffe">
        <item>
            <listing>Iced Toasted Vanilla</listing>
            <price>4.00</price>
        </item>
        <item>
            <listing>Iced Sacked Expresso</listing>
            <price>3.80</price>
        </item>
        <item decaf="true">
            <listing>Iced Flat White</listing>
            <price>4.10</price>
        </item>
    </category>
    <category name="Tea">
        <item>
            <listing>Mint</listing>
            <price>2.50</price>
        </item>
        <item>
            <listing>Jasmine</listing>
            <price>3.00</price>
        </item>
        <item decaf="true">
            <listing>Breakfast</listing>
            <price>2.50</price>
        </item>
    </category>
    <category name="Dessets">
        <item>
            <listing>Chocollate Brownie</listing>
            <price>4.50</price>
        </item>
        <item>
            <listing>Vannila Chessecake</listing>
            <price>4.50</price>
        </item>
        <item>
            <listing>Carrot Cake</listing>
            <price>5.00</price>
        </item>
    </category>
</menu>